<p id="notice"><%= notice %></p>
<div class="col-xs-12 col-md-12 mb-5 p-0 m-0">
  <h2>Items</h2>
</div>
<%= search_form_for @q do |f| %>
  <div class="col-xs-12 col-md-12 mb-5 p-0 m-0">
    <div class="input-group">
      <%= f.search_field :name_cont, class: 'form-control' %>
      <%= f.submit 'Search', :class => 'btn btn-primary' %>
    </div>
  </div>
<% end %>
<div class="col-xs-12 col-md-12 mb-5 p-0 m-0">
<table  class="table table-striped table-responsive-xs">
  <thead>
    <tr>
      <th>Itemid</th>
      <th>Name</th>
      <th>Sortname</th>
      <th>Stacksize</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @item_basics.each do |item_basic| %>
      <tr>
        <td><%= item_basic.itemid %></td>
        <td><%= item_basic.name %></td>
        <td><%= item_basic.sortname %></td>
        <td><%= item_basic.stackSize %></td>
        <td><%= link_to 'Show', item_basic %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="col-xs-12 col-md-12 mb-5">
<%= will_paginate @item_basics, renderer: BootstrapPagination::Rails %>
</div>