<p id="notice"><%= notice %></p>
<div class="row">
  <div class="card text-dark bg-light col-6 p-0">
    <div class="card-header fs-4 fw-bolder"><%= @item_basic.name %> (itemid: <%= @item_basic.itemid %>)</div>
    <div class="card-body">
      <p class="card-text fs-5"><span class="fw-bolder d-inline-block" style="min-width: 10vw">Base sell :</span> <%= @item_basic.BaseSell %></p>
      <p class="card-text fs-5"><span class="fw-bolder d-inline-block" style="min-width: 10vw">Flags :</span> <%= @item_basic.flags %></p>
      <p class="card-text fs-5"><span class="fw-bolder d-inline-block" style="min-width: 10vw">stackSize :</span> <%= @item_basic.stackSize %></p>
      <p class="card-text fs-5"><span class="fw-bolder d-inline-block" style="min-width: 10vw">NoSale :</span> <%= @item_basic.NoSale %></p>
      <p class="card-text fs-5"><span class="fw-bolder d-inline-block" style="min-width: 10vw">Ah :</span> <%= @item_basic.aH %></p>
    </div>
  </div>
  <div class="card text-dark bg-light col-6 p-0">
    <div class="card-header fs-4 fw-bolder">
      <% if @item_basic.item_usable %>
        Item usable
      <% else %>
        Item not usable
      <% end %>
    </div>
    <div class="card-body">
      ...
    </div>
  </div>
</div>
<div class="row">
  <% if @item_basic.item_equipment %>
  <div class="card text-dark bg-light col-6 p-0">
    <div class="card-header fs-4 fw-bolder">
        Item is an equipment
    </div>
    <div class="card-body">
      <p class="card-text fs-5">level/ilevel: : <%= @item_basic.item_equipment.level %> / <%= @item_basic.item_equipment.ilevel %></p>
    </div>
  </div>
  <% end %>

  <div class="card text-dark bg-light col-6 p-0">
    <div class="card-header fs-4 fw-bolder">
        Mods
    </div>
    <div class="card-body">
      <% if @item_basic.item_mod.length > 0 %>
        <ul class="list-group list-group-flush">
        <% @item_basic.item_mod.each do |item_mod|%>
        
          <li class="list-group-item list-group-item-action fs-5">
            <span class="fw-bolder d-inline-block" style="min-width: 10vw">
              <%= get_mod(item_mod.modId) %>:
            </span> 
            <span class="badge bg-primary rounded-pill fs-5"><%= item_mod.value %></span>
          </li>
        <% end %>
        </ul>
      <% else %>
        <p class="card-text fs-5 text-danger">No mods</p>
      <% end %>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_item_basic_path(@item_basic) %> |
<%= link_to 'Back', item_basics_path %>
